{% extends "App/NavBar.html" %}
{% block content %}


{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Bike Walah</title>
      <link rel="stylesheet" href="Main.html">
      <link rel="stylesheet" href="{% static 'App/css/about.css' %}">

</head>

<body>

      <section class="Services-container">


           
            <br> <br> <br> <br> <br> <br>
            <div id="services">
                  <div class="box">
                        <img src="{% static 'App/img/Achievments.png' %}" alt="#">
                        <h2 class="h-secondary center"></h2>
                        <p class="center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae voluptatum
                              inventore beatae earum mollitia deleniti a dignissimos quos, exercitationem ex velit
                              vitae! Necessitatibus maxime aut, aspernatur inventore quia at minima accusamus
                              blanditiis? Voluptatibus laudantium ducimus eligendi aspernatur velit harum aperiam
                              excepturi, nemo ipsa, non veritatis soluta odit sed aliquam repellendus numquam impedit
                              placeat cupiditate, quaerat alias ipsam? Est eaque odit, vitae qui suscipit quia nulla
                              voluptate numquam laudantium deleniti hic eum libero fuga architecto excepturi! Voluptatum
                              quam voluptas tempore dolor ut eos vel vero commodi maiores eaque, labore natus, quos
                              reiciendis, accusantium aspernatur. Cumque consequatur ipsam unde. Numquam dolor amet
                              distinctio explicabo excepturi id velit, quod nihil ratione. Fugit consequatur quas magnam
                              dolores excepturi placeat voluptatem libero? Nesciunt voluptas nulla possimus beatae
                              molestias quam, est dolor optio ipsum, ex magnam esse? Officiis expedita dolorum quo saepe
                              illum accusantium hic facere voluptates fugiat reiciendis maxime et itaque cupiditate
                              sequi deleniti repellendus quis quia ea ab iusto iure quod, alias ipsa harum? Ex aperiam
                              ut doloremque nemo error esse autem perspiciatis maiores deserunt. Mollitia sit laborum
                              pariatur quisquam optio sapiente voluptate corporis earum, exercitationem, nostrum
                              obcaecati facilis? Consequatur fuga quas numquam similique, quae sint laboriosam nostrum,
                              maiores distinctio, tempore expedita! Voluptatibus, tenetur!</p>
                        <div id="submit_Btn">Learn More</div>
                  </div>


                  <div class="box">
                        <img src="{% static 'App/img/success.png' %}" alt="#">
                        <h2 class="h-secondary center"></h2>
                        <p class="center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae voluptatum
                              inventore beatae earum mollitia deleniti a dignissimos quos, exercitationem ex velit
                              vitae! Necessitatibus maxime aut, aspernatur inventore quia at minima accusamus
                              blanditiis? Voluptatibus laudantium ducimus eligendi aspernatur velit harum aperiam
                              excepturi, nemo ipsa, non veritatis soluta odit sed aliquam repellendus numquam impedit
                              placeat cupiditate, quaerat alias ipsam? Est eaque odit, vitae qui suscipit quia nulla
                              voluptate numquam laudantium deleniti hic eum libero fuga architecto excepturi! Voluptatum
                              quam voluptas tempore dolor ut eos vel vero commodi maiores eaque, labore natus, quos
                              reiciendis, accusantium aspernatur. Cumque consequatur ipsam unde. Numquam dolor amet
                              distinctio explicabo excepturi id velit, quod nihil ratione. Fugit consequatur quas magnam
                              dolores excepturi placeat voluptatem libero? Nesciunt voluptas nulla possimus beatae
                              molestias quam, est dolor optio ipsum, ex magnam esse? Officiis expedita dolorum quo saepe
                              illum accusantium hic facere voluptates fugiat reiciendis maxime et itaque cupiditate
                              sequi deleniti repellendus quis quia ea ab iusto iure quod, alias ipsa harum? Ex aperiam
                              ut doloremque nemo error esse autem perspiciatis maiores deserunt. Mollitia sit laborum
                              pariatur quisquam optio sapiente voluptate corporis earum, exercitationem, nostrum
                              obcaecati facilis? Consequatur fuga quas numquam similique, quae sint laboriosam nostrum,
                              maiores distinctio, tempore expedita! Voluptatibus, tenetur!</p>
                        <div id="submit_Btn">Learn More</div>
                  </div>



                  <div class="box">
                        <img src="{% static 'App/img/job.png' %}" alt="#">
                        <h2 class="h-secondary center"></h2>
                        <p class="center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae voluptatum
                              inventore beatae earum mollitia deleniti a dignissimos quos, exercitationem ex velit
                              vitae! Necessitatibus maxime aut, aspernatur inventore quia at minima accusamus
                              blanditiis? Voluptatibus laudantium ducimus eligendi aspernatur velit harum aperiam
                              excepturi, nemo ipsa, non veritatis soluta odit sed aliquam repellendus numquam impedit
                              placeat cupiditate, quaerat alias ipsam? Est eaque odit, vitae qui suscipit quia nulla
                              voluptate numquam laudantium deleniti hic eum libero fuga architecto excepturi! Voluptatum
                              quam voluptas tempore dolor ut eos vel vero commodi maiores eaque, labore natus, quos
                              reiciendis, accusantium aspernatur. Cumque consequatur ipsam unde. Numquam dolor amet
                              distinctio explicabo excepturi id velit, quod nihil ratione. Fugit consequatur quas magnam
                              dolores excepturi placeat voluptatem libero? Nesciunt voluptas nulla possimus beatae
                              molestias quam, est dolor optio ipsum, ex magnam esse? Officiis expedita dolorum quo saepe
                              illum accusantium hic facere voluptates fugiat reiciendis maxime et itaque cupiditate
                              sequi deleniti repellendus quis quia ea ab iusto iure quod, alias ipsa harum? Ex aperiam
                              ut doloremque nemo error esse autem perspiciatis maiores deserunt. Mollitia sit laborum
                              pariatur quisquam optio sapiente voluptate corporis earum, exercitationem, nostrum
                              obcaecati facilis? Consequatur fuga quas numquam similique, quae sint laboriosam nostrum,
                              maiores distinctio, tempore expedita! Voluptatibus, tenetur!</p>

                        <div id="submit_Btn">Learn More</div>
                  </div>
            </div>
      </section>


      <footer>

{% endblock %}