{% extends "App/NavBar.html" %}
{% block content %}


{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Bike Walah</title>
      <link rel="stylesheet" href="Main.html">
      <link rel="stylesheet" href="{% static 'App/css/services.css' %}">

</head>
<body>
     
      <section class="Services-container">


            <br><br><br> <br> <br> <br>
            <div id="services">
                  <div class="box">
                        <a href="https://www.bajajauto.com/"><img src="{% static 'App/img/Bajaj_Logo.png' %}" alt="#"></a>
                        <h2 class="h-secondary center"></h2>
                        <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptate
                              soluta
                              aspernatur doloremque culpa doloribus repudiandae id distinctio reprehenderit quis?</p>
                  </div>


                  <div class="box">
                        <a href="https://www.yamaha-motor-india.com/"><img src="{% static 'App/img/yamaha Logo.png' %}" alt="#"></a>
                        <h2 class="h-secondary center"></h2>
                        <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptate
                              soluta
                              aspernatur doloremque culpa doloribus repudiandae id distinctio reprehenderit quis?</p>
                  </div>



                  <div class="box">
                        <a href="https://www.tvsmotor.com/"><img src="{% static 'App/img/tvs-motors-logo-png-0.png' %}" alt="#"></a>
                        <h2 class="h-secondary center"></h2>
                        <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptate
                              soluta
                              aspernatur doloremque culpa doloribus repudiandae id distinctio reprehenderit quis?</p>
                  </div>
            </div>
      </section>

      <section class="Services-container">



            <div id="services">
                  <div class="box">
                        <a href="https://www.suzukimotorcycle.co.in/"><img src="{% static 'App/img/Suzuki_logo.png' %}" alt="#"></a>
                        <h2 class="h-secondary center"></h2>
                        <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptate
                              soluta
                              aspernatur doloremque culpa doloribus repudiandae id distinctio reprehenderit quis?</p>
                  </div>


                  <div class="box">
                        <a href="https://www.ktm.com/en-in.html"><img src="{% static 'App/img/KTM.png' %}" alt="#"></a>
                        <h2 class="h-secondary center"></h2>
                        <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptate
                              soluta
                              aspernatur doloremque culpa doloribus repudiandae id distinctio reprehenderit quis?</p>
                  </div>



                  <div class="box">
                        <a href="https://www.royalenfield.com/in/en/home/"><img src="{% static 'App/img/Royal_Enfield_Logo_full.png' %}" alt="#"></a>
                        <h2 class="h-secondary center"></h2>
                        <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptate
                              soluta
                              aspernatur doloremque culpa doloribus repudiandae id distinctio reprehenderit quis?</p>
                  </div>
            </div>
      </section>


      <section class="Services-container">


      
            <div id="services">
                  <div class="box">
                        <a href="https://www.bmw-motorrad.in/en/models/modeloverview.html"><img src="{% static 'App/img/BMW.png' %}" alt="#"></a>
                        
                        <h2 class="h-secondary center"></h2>
                        <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptate
                              soluta
                              aspernatur doloremque culpa doloribus repudiandae id distinctio reprehenderit quis?</p>
                  </div>

               

                  <div class="box">
                        <a href="https://www.honda2wheelersindia.com/"><img src="{% static 'App/img/Honda.png' %}" alt="#"></a>
                        <h2 class="h-secondary center"></h2>
                        <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptate
                              soluta
                              aspernatur doloremque culpa doloribus repudiandae id distinctio reprehenderit quis?</p>
                  </div>



            </div>
      </section>

      <section class="Services-container">



            <div id="services">
                  <div class="box">
                        <a href="https://kawasaki-india.com/"><img src="{% static 'App/img/Kawasaki-Logo.png' %}" alt="#"></a>
                        <h2 class="h-secondary center"></h2>
                        <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptate
                              soluta
                              aspernatur doloremque culpa doloribus repudiandae id distinctio reprehenderit quis?</p>
                  </div>
                  

                  <div class="box">
                        <a href="https://www.servicenow.com/"><img src="{% static 'App/img/ServiceNow-Logo.png' %}" alt="#"></a>
                        <h2 class="h-secondary center"></h2>
                        <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptate
                              soluta
                              aspernatur doloremque culpa doloribus repudiandae id distinctio reprehenderit quis?</p>
                  </div>



                  <div class="box">
                        <a href="https://www.naukri.com/"><img src="{% static 'App/img/img_61691.png' %}" alt="#"></a>
                        <h2 class="h-secondary center"></h2>
                        <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptate
                              soluta
                              aspernatur doloremque culpa doloribus repudiandae id distinctio reprehenderit quis?</p>
                  </div>
            </div>
      </section>



      
 

      

  

      
</body>
</html>

{% endblock %}